/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
@import url('components/banner.css');
@import url('components/how_it_works.css');
@import url('components/cards.css');
@import url('components/footer.css');

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Custom design below! */
